<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="application/javascript">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/" />
    <title>Dashboard</title>
  </head>
  <body>
    <h3>Welcome to the dashboard, <%= user.name %>!</h3>
    <form method="POST" action="/logout">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
